<%- title 'Log In' %>

<%= form_tag('/user/login', { class: 'form-horizontal', id: 'login-form', method: 'post'}) do %>
	<div style="text-align:center" id="stylized" class="myform" >
		<h3>Log in to access your profile.</h3><br>

		<label>EMAIL</label>
		<%= email_field_tag 'email'%>
		<label id="email-error" class="error" for="email"></label>

		<label>PASSWORD</label>
		<%= password_field_tag 'password' %>
		<label id="password-error" class="error" for="password"></label>
		
		<button style="margin-top:20px" class="btn btn-primary">LOG IN</button><br>
		<a href="/user/register" style="margin-top:20px" class="btn btn-default">OR REGISTER HERE.</a>
	</div>
<% end %>


<script>
    if (localStorage.getItem("colors"))
    {
        var c = jQuery.parseJSON(unescape(localStorage.getItem("colors")));
        $('input').css({"border-color":c["p_hex"]});
        $('.error').css({"color":c["p_hex"]});
        $('.btn-primary').css({"background-color":c["p_hex"]});
        $('.btn-default').css({"color":c["p_hex"]});
    }
</script>

<!-- Include the jQuery Validation plugin. -->
<script src="/assets/jquery.validate.min.js" ></script>
<script src="/assets/additional-methods.min.js"></script>

<!-- Include the form validation rules. -->
<script src="/assets/validate_login_form.js"></script>
