

<div class="search-bar" id="search-bar">

	
	<p class="quote">ASK US ABOUT CITIES</p>
	<p class="quote">ASK US ABOUT UNIVERSITIES</p>
	<p class="quote">ASK US ABOUT MAJORS</p>
	<p class="quote">ASK US ABOUT SPENDING</p>
 
	<form>
	
	<input class="main-search" type="text" id="search">
	<button class="circle-arrow" type="submit" onclick="api_request(document.getElementById('search').value); return false;">
		<svg height="25" width="25">
			<g>
				<circle class="fill_circle" cx="12.100644" cy="12.04889" id="circle11" style="clip-rule:evenodd;fill:#884412;fill-opacity:1;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision" r="11.786511"/>
				<polygon class="fill_arrow" points="156,103 33,103 33,115 156,115 121,150 129,158 176,111 178,109 176,106 129,59 121,68 " id="polygon13" style="fill:#ffffff" transform="matrix(0.11119351,0,0,0.11119351,0.31413248,0.26237772)"/>
			</g>

		</svg>
	</button>
	<br>
	<p class="help-text">NEW HERE? CHECK OUT OUR <a class="help-nav" href="/wizard/start">WIZARD</a> OR SOME <a class="help-nav" href="/info/examples">EXAMPLES</a>.</p>
	</form>

<link rel="stylesheet" href="/assets/ideal-image-slider.css">
<link rel="stylesheet" href="/assets/default.css">


	<div id="examples_slider" style="height:240px; width:432px; margin-left:auto; margin-right:auto; margin-top:60px;">
        <img src="/assets/examples/career_blur.jpeg" alt="">
        <img data-src="/assets/examples/city_blur.jpeg" src="" alt="">
        <img data-src="/assets/examples/major_blur.jpeg" src="" alt="">
        <img data-src="/assets/examples/spending_blur.jpeg" src="" alt="">
        <img data-src="/assets/examples/school_blur.jpeg" src="" alt="">
    </div>
    <!-- Include slider JS file -->
    <script src="/assets/ideal-image-slider.js"></script>
    <!-- Create your slider -->
    <script>
    	var slider = new IdealImageSlider.Slider('#examples_slider');
    	slider.start();
    </script>




</div>

<div id="loading" hidden="hidden">
  <img id="loading-image" style="display: block; margin: 0 auto;" src="../assets/circle load.gif" alt="Loading..." />
</div>

<footer>SUGGESTIONS? <a class="help-nav" href="https://docs.google.com/forms/d/1wrSEhVhGICnqK1hg4kQ6YHSHAn8-zkcJkosS_zIfmXk/viewform">LET US KNOW</a>!</footer>


<script language="javascript" type="text/javascript">
  $(document).ready(function() {
    $('#loading').attr("hidden", "true");
    $('#search-bar').removeAttr("hidden");
  });
    if (localStorage.getItem("colors"))
    {
        var c = jQuery.parseJSON(unescape(localStorage.getItem("colors")));
        $('.main-search').css({"border-color":c["p_hex"]});
        $('.help-nav').css({"color":c["p_hex"]});
        $('.fill_circle').css({"fill": c["p_hex"]});
        $('#examples_slider').css({"background-color": c["p_hex"]});
    }
    else
    {
    	$('#examples_slider').css({"background-color": "#884412"});
    }
</script>
