

</script>
<!-- Search Field -->


<div class="search-bar" id="search-bar">
	<p class="question-text">WHAT WOULD YOU LIKE TO KNOW?</p>
	<form>
	<input class="main-search" type="text" id="search">
	
	<p class="help-text">NEW HERE? CHECK OUT OUR <a href="/wizard/start">WIZARD</a> OR SOME <a href="/info/examples">EXAMPLES</a>.</p>
	<button class="circle-arrow" type="submit" onclick="api_request(document.getElementById('search').value); return false;"><img src="assets/circle arrow.png" height="38" width="38"></button>
	</form>
</div>

<div id="loading">
  <img id="loading-image" style="display: block; margin: 0 auto;" src="../assets/progress.gif" alt="Loading..." />
</div>

<script language="javascript" type="text/javascript">
  $(document).ready(function() {
    $('#loading').hide();
    $('#search-bar').show();
  });
</script>