

<div class="search-bar" id="search-bar">

	
	<p style="text-align:center">WHAT WOULD YOU LIKE TO COMPARE?</p>
	<!-- <p class="quote">ASK US ABOUT UNIVERSITIES</p>
	<p class="quote">ASK US ABOUT MAJORS</p>
	<p class="quote">ASK US ABOUT SPENDING</p> -->
 
	<form>
	
	<input class="main-search" type="text" id="search">
	<button class="circle-arrow" type="submit" onclick="api_request(document.getElementById('search').value); return false;">
		<svg height="25" width="25">
			<g>
				<circle class="fill_circle" cx="12.100644" cy="12.04889" id="circle11" style="clip-rule:evenodd;fill:#884412;fill-opacity:1;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision" r="11.786511"/>
				<polygon class="fill_arrow" points="156,103 33,103 33,115 156,115 121,150 129,158 176,111 178,109 176,106 129,59 121,68 " id="polygon13" style="fill:#ffffff" transform="matrix(0.11119351,0,0,0.11119351,0.31413248,0.26237772)"/>
			</g>

		</svg>
	</button>
	<br>
	<p class="help-text">NEW HERE? CHECK OUT OUR <a class="help-nav" href="/wizard/start">WIZARD</a> OR SOME <a class="help-nav" href="/info/examples">EXAMPLES</a>.</p>
	</form>



<link rel="stylesheet" href="/assets/ideal-image-slider.css">



	<div id="examples_slider" onmouseover="stopSlider()" onmouseleave="startSlider()" style="width:400px; margin-left:auto; margin-right:auto; margin-top:30px;">
        <img src="/assets/slider images/career.png" id="career" alt="">
        <img src="/assets/slider images/city.png" id="city" src="" alt="">
        <img src="/assets/slider images/major.png"  id="major" src="" alt="">
        <img src="/assets/slider images/spend.png" id="spend" src="" alt="">
        <img src="/assets/slider images/school.png" id="school" src="" alt="">  
    </div>

<script src="/assets/ideal-image-slider.js"></script>
<script src="/assets/iis-captions.js"></script>
<script src="/assets/index.js"></script>


</div>



<div id="loading" hidden="hidden" style="padding-top:100px">
  <img id="loading-image" style="display: block; margin: 0 auto;" src="../assets/circle load.gif" alt="Loading..." />
</div>

<div class="modal" id="disModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Disambiguation Alert!</h4>
            </div>
            <div class="modal-body">
                <p>Your search has returned more than two results. Please select two from this menu:</p>
                <table id="disSelections"><tbody></tbody></table>
            </div>
            <div class="modal-footer">
                <button type="button" id="sub" class="btn btn-primary">Select</button>
            </div>
        </div>
    </div>
</div>

<footer>SUGGESTIONS? <a class="help-nav" href="https://docs.google.com/forms/d/1wrSEhVhGICnqK1hg4kQ6YHSHAn8-zkcJkosS_zIfmXk/viewform">LET US KNOW</a>!</footer>


<script language="javascript" type="text/javascript">
  $(document).ready(function() {
    $('#loading').attr("hidden", "true");
    $('#search-bar').removeAttr("hidden");
  });
    if (localStorage.getItem("colors"))
    {
        var c = jQuery.parseJSON(unescape(localStorage.getItem("colors")));
        $('.main-search').css({"border-color":c["p_hex"]});
        $('.help-nav').css({"color":c["p_hex"]});
        $('.fill_circle').css({"fill": c["p_hex"]});
        //$('#examples_slider').css({"background-color": c["p_hex"]});
    }
    else
    {
    	//$('#examples_slider').css({"background-color": "#884412"});
    }
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61563557-1', 'auto');
    ga('send', 'pageview');

</script>
