

</script>
<!-- Search Field -->


<div class="search-bar">

	
	    <p class="quote">ASK US ABOUT CITIES</p>
	    <p class="quote">ASK US ABOUT UNIVERSITIES</p>
	    <p class="quote">ASK US ABOUT MAJORS</p>
	    <p class="quote">ASK US ABOUT SPENDING</p>
 
	<form>
	
	<input class="main-search" type="text" id="search">
	<button class="circle-arrow" type="submit" onclick="api_request(document.getElementById('search').value); return false;"><img src="assets/circle arrow.png" height="25" width="25"></button>
	<br>
	<p class="help-text">NEW HERE? CHECK OUT OUR <a href="/wizard/start">WIZARD</a> OR SOME <a href="/info/examples">EXAMPLES</a>.</p>
	</form>
</div>

	<footer>SUGGESTIONS? <a href="mailto:admin@trycents.com">LET US KNOW</a>!</footer>
	
	
