<!-- Search Field -->


<div class="search-bar">
	<p class="question-text">WHAT WOULD YOU LIKE TO KNOW?</p>
	<form>
		<input class="main-search" type="text">
	</form>
	<p class="help-text">NEW HERE? CHECK OUT OUR <a href="javascript:void(0)">WIZARD</a> OR SOME <a href="javascript:void(0)">EXAMPLES</a>?</p>
	<button class="circle-arrow" type="submit"><img src="assets/circle arrow.png" height="38" width="38"></button>
</div>