<div class="modal" id="disModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Disambiguation Alert!</h4>
            </div>
            <div class="modal-body">
                <p>Your search has returned more than two results. Please select two from this menu:</p>
                <table id="disSelections"><tbody></tbody></table>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-primary">Select</button>
            </div>
        </div>
    </div>
</div>