<div class="modal" id="disModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Disambiguation Alert!</h4>
            </div>
            <div class="modal-body">
                <p>Your search has returned more than 2 results. Please select 2 from this menu</p>
                <table id="disSelections"><tbody></tbody></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="subDis()">Select</button>
            </div>
        </div>
    </div>
</div>