<div id="loading" hidden="hidden" style="padding-top:100px">
  <img id="loading-image" style="display: block; margin: 0 auto;" src="../assets/circle load.gif" alt="Loading..." />
</div>

<div class="modal" id="disModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Disambiguation Alert!</h4>
            </div>
            <div class="modal-body">
                <p>Your search has returned more than two results. Please select two from this menu:</p>
                <table id="disSelections"><tbody></tbody></table>
            </div>
            <div class="modal-footer">
                <button type="button" id="sub" class="btn btn-primary">Select</button>
            </div>
        </div>
    </div>
</div>