<div  class="center">

	<form>
		<ul class="error_objects">
			<li><p id="error_1" class="error_msg" ></p></li>
			<li><button class="btn btn-default" type="submit" onclick="career_api_request(); return false;">UPDATE CAREERS</button></li>
			<li><p id="error_2" class="error_msg"></p></li>
			<!-- errors -->
		</ul>

		<ul class="search_objects">
			<li><input type="button" onclick="hide_toggle(1)" id="search_1_button" class="btn btn-default" value="HIDE" style="width:100px"></li>
			<li><input class="search_1" onchange="changeMade()" id="search_1_name" type="text"></li>
			<li><p class="versus">vs.</p></li>
			<li><input class="search_2" onchange="changeMade()" id="search_2_name" type="text"></li>
			<li><input type="button" onclick="hide_toggle(2)" id="search_2_button" class="btn btn-default" value="HIDE" style="width:100px"></li>
			<!-- errors -->
		</ul>
	</form>


	<ul class="viz_objects">
		<li><canvas class="process_viz" id="main_viz" width="655" height="375"></canvas></li>
		<li><ul style="list-style-type: none">
			<li><a id="summary_tab" class="btn btn-default" onclick="update_tab(1)">SUMMARY</a></li>
			<li><a id="salary_tab" class="btn btn-default" onclick="update_tab(2)">SALARY</a></li>
			<li><a id="demand_tab" class="btn btn-default" onclick="update_tab(3)">DEMAND</a></li>
			<li><a id="unemploy_tab" class="btn btn-default" onclick="update_tab(4)">UNEMPLOYMENT</a></li>
		</ul></li>
	</ul>
	
	<br>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61563557-1', 'auto');
      ga('send', 'pageview');

  </script>
	<script>
    if (localStorage.getItem("colors"))
    {
        var c = jQuery.parseJSON(unescape(localStorage.getItem("colors")));
        $('.error_msg').css({"color":c["p_hex"]});
        $('.search_1').css({"border-color":c["p_hex"]});
        $('.search_2').css({"border-color":c["s_hex"]});
        $('.btn-default').css({"color":c["p_hex"]});
    }
	</script>
<!--errors will go here -->
	<!-- <form>
		<ul class="search_objects">
			<li><input type="button" onclick="hide_toggle(1)" id="search_1_button" class="btn btn-default" value="HIDE" style="width:100px"></li>
			<li><input class="search_1" id="search_1_name" type="text"></li>
			<li><p class="versus">vs.</p></li>
			<li><input class="search_2" id="search_2_name" type="text"></li>
			<li><input type="button" onclick="hide_toggle(2)" id="search_2_button" class="btn btn-default" value="HIDE" style="width:100px"></li>
		</ul>
		<ul class="toggle_objects">
			<li><button class="circle-arrow-update" type="submit" onclick="career_api_request(); return false;"><img src="/assets/circle arrow.png" height="38" width="38"></button></li>
		</ul>
	</form> -->
