<div  class="center">
	<ul class="viz_objects">
		<li><canvas class="process_viz" id="main_viz" width="655" height="375"></canvas></li>
		<li><ul style="list-style-type: none">
			<li><a class="btn btn-default" onclick="update_tab(1)">SUMMARY</a></li>
			<li><a class="btn btn-default" onclick="update_tab(2)">SALARY</a></li>
			<li><a class="btn btn-default" onclick="update_tab(3)">DEMAND</a></li>
			<li><a class="btn btn-default" onclick="update_tab(4)">UNEMPLOYMENT</a></li>
		</ul></li>
	</ul>
	
	<br> <!--errors will go here -->
	<form>
		<ul class="search_objects">
			<li><input type="button" onclick="hide_toggle(1)" id="search_1_button" class="btn btn-default" value="HIDE" style="width:100px"></li>
			<li><input class="search_1" id="search_1_name" type="text"></li>
			<li><p class="versus">vs.</p></li>
			<li><input class="search_2" id="search_2_name" type="text"></li>
			<li><input type="button" onclick="hide_toggle(2)" id="search_2_button" class="btn btn-default" value="HIDE" style="width:100px"></li>
		</ul>
		<ul class="toggle_objects">
			<li><button class="circle-arrow-update" type="submit" onclick="career_api_request(); return false;"><img src="/assets/circle arrow.png" height="38" width="38"></button></li>
		</ul>
	</form>
