<script type="text/javascript">
function redirect(){
    window.location = "/"
}
</script>

<p>Thanks for registering! An email with a confirmation code has been sent to your account.</p>

<p>You will be redirected to the main page in a few seconds.</p>

<body onLoad="setTimeout('redirect()', 3000)">