<%- title "User Registered" %>

<div style="text-align:center">
	<p>Thanks for registering! A confirmation email has been sent to your address.</p>
	<p>(Please check your spam filter if you don't see it.)</p>
</div>