<p>Thanks for registering! An email with a confirmation code has been sent to your account.</p>

<p>While we are setting up a mail server, 
<%= link_to "click here", "/user/confirm/?confirmation_code=#{params[:confirmation_code]}" %> to confirm your email.</p>