<%- title "Terms and Conditions" %>

<div class="wizard-div">
	<div class="center">
		<h1>Terms and Conditions</h1>

		<p align="justify">In using this website you are deemed to have read and agreed to the following terms and conditions. These terms may change at any time without notice.</p>

		<h2>Privacy Statement</h2>
		<p align="justify">We are committed to protecting your privacy. We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. However, we do share your name and email address with some third parties, such as our mail service provider.</p>

		<h3>Logs</h3>
		<p align="justify">We use IP addresses to analyse trends, administer the site, track user’s movement, and gather broad demographic information for aggregate use. IP addresses can be linked to personally identifiable information such as names and email addresses. Additionally, for systems administration, detecting usage patterns and troubleshooting purposes, our web servers automatically log standard access information including browser type, access times, URL requested, and referral URL. We do not share this information with third parties and do not log your passwords.</p>

		<h3>Cookies</h3>
		<p align="justify">Like most interactive web sites, we use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate partners may also use cookies.</p>

		<br>

		<h2>Disclaimer</h2>
		<p align="justify">The information on this web site is provided on an "as is" basis with no guarantee of accuracy.</p>

		<h3>Links from this website </h3>
		<p align="justify">We do not monitor or review the content of other party’s websites which are linked to from this website. Opinions expressed or material appearing on such websites are not necessarily shared or endorsed by us and should not be regarded as the publisher of such opinions or material. Please be aware that we are not responsible for the privacy practices, or content, of these sites. We encourage our users to be aware when they leave our site and to read the privacy statements of these sites. You should evaluate the security and trustworthiness of any other site connected to this site or accessed through this site yourself, before disclosing any personal information to them. We will not accept any responsibility for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal information.</p>

		<br>

		<h2>Copyright Notice</h2>
		<p align="justify">Copyright and other relevant intellectual property rights exists on all text relating to our services and the full content of this website.</p> 

		<br>

		<h2>Notification of Changes</h2>
		<p align="justify">We reserve the right to change these conditions from time to time as and your continued use of the site will signify your acceptance of any adjustment to these terms. You are therefore advised to re-read this statement on a regular basis.</p>
	</div>
</div>