<div class="wizard-div">
<img src="/assets/progress 3.png" height="77" width="715" usemap="#progress-map">
<map name="progress-map">
	<area onfocus="blur()" shape="rect" coords="0, 20, 29, 60" href="/wizard/major">
	<area onfocus="blur()" shape="rect" coords="31, 20, 60, 60" href="/wizard/school">
	<area onfocus="blur()" shape="rect" coords="651, 20, 679, 60" href="/wizard/spending">
	<area onfocus="blur()" shape="rect" coords="681, 20, 715, 60" href="/wizard/city">
</map>
<br>
<p>show how careers can be compared and how a search should be entered</p><br>
<a href="/wizard/spending">NEXT (spending)</a>
</div>