<div class="wizard-div">
	<div style="height:60px; width:170px; float:left; text-align:center; cursor:pointer;" onclick="location.href='/wizard/major'">
		<div class="wizard-bar" style="height:10px; width:170px; float:left; "></div>
		<div style="height:20px; width:170px; float:left"></div>
		<p style="color:gray">MAJOR COMPARISON</p>
	</div>
	<div style="height:60px; width:170px; float:left; text-align:center; cursor:pointer;" onclick="location.href='/wizard/school'">
		<div class="wizard-bar" style="height:10px; width:170px; float:left"></div>
		<div style="height:20px; width:170px; float:left"></div>
		<p style="color:gray">SCHOOL COMPARISON</p>
	</div>
	<div style="height:60px; width:170px; float:left; text-align:center;" >
		<div class="wizard-bar" style="height:10px; width:170px; float:left"></div>
		<div class="wizard-triangle" style="width: 0px; height: 0px; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid; margin:auto"></div>
		<p id="nav_selected">CAREER COMPARISON</p>
	</div>
	<div style="height:60px; width:170px; float:left; text-align:center; cursor:pointer;" onclick="location.href='/wizard/spending'">
		<div class="wizard-bar" style="height:10px; width:170px; float:left"></div>
		<div style="height:20px; width:170px; float:left"></div>
		<p style="color:gray">SPENDING BREAKDOWN</p>
	</div>
	<div style="height:60px; width:170px; float:left; text-align:center; cursor:pointer;" onclick="location.href='/wizard/city'">
		<div class="wizard-bar" style="height:10px; width:170px; float:left"></div>
		<div style="height:20px; width:170px; float:left"></div>
		<p style="color:gray">CITY COMPARISON</p>
	</div>
</div>

<%= render partial: '/partials/career' %>

<div class="bottom_nav">
	<a class="btn btn-default"  href="/wizard/school">PREVIOUS</a>
	<a class="btn btn-default"  href="/user/register">LOGIN/REGISTER TO SAVE</a>
	<a class="btn btn-default"  href="/wizard/spending">NEXT</a>
</div>

</div>
<br>

<script>
    if (localStorage.getItem("colors"))
    {
        var c = jQuery.parseJSON(unescape(localStorage.getItem("colors")));
        $('.wizard-bar').css({"background-color":c["p_hex"]});
        $('.wizard-triangle').css({"border-top-color":c["p_hex"]});
        $('#nav_selected').css({"color":c["p_hex"]});
        $('.btn-default').css({"color":c["p_hex"]});
    }
    else
    {
    	$('.wizard-bar').css({"background-color":"#884412"});
        $('.wizard-triangle').css({"border-top-color":"#884412"});
        $('#nav_selected').css({"color":"#884412"});
    }
</script>
