<div class="wizard-div">
	<img src="/assets/progress 5.png" height="41" width="850" usemap="#progress-map">
		<map name="progress-map">
			<area onfocus="blur()" shape="rect" coords="10, 20, 150, 40" href="/wizard/major">
			<area onfocus="blur()" shape="rect" coords="160, 20, 315, 40" href="/wizard/school">
			<area onfocus="blur()" shape="rect" coords="325, 20, 475, 40" href="/wizard/career">
			<area onfocus="blur()" shape="rect" coords="485, 20, 645, 40" href="/wizard/spending">
			<area onfocus="blur()" shape="rect" coords="655, 20, 850, 40" href="/wizard/city">	
		</map>
	<br>

</div>
<div  class="center">
	<ul class="viz_objects">
		<li><canvas class="process_viz" id="main_viz" width="655" height="375"></canvas></li>
		<li><div class="btn-group-vertical">
			<a class="btn btn-default" href="/wizard/city">COST OF LIVING</a>
			<a class="btn btn-default" href="/wizard/city">LABOR STATISTICS</a>
			<a class="btn btn-default" href="/wizard/city">TAXES</a>
			<a class="btn btn-default" href="/wizard/city">WEATHER</a>
		</div></li>
	</ul>
	

	<form>
		<ul class="search_objects">
			<li><input class="search_1" type="text" value="City #1"></li>
			<li><p class="versus">vs.</p></li>
			<li><input class="search_2" type="text" value="City #2"></li>
		</ul>
		<ul class="toggle_objects">
			<li><a href="javascript:void(0)" class="btn btn-default">SHOW</a></li>
			<li><a href="javascript:void(0)" class="btn btn-default">HIDE</a></li>
			<li><button class="circle-arrow-update" type="submit" onclick="api_request(); return false;"><img src="/assets/circle arrow.png" height="38" width="38"></button></li>
			<li><a href="javascript:void(0)" class="btn btn-default">SHOW</a></li>
			<li><a href="javascript:void(0)" class="btn btn-default">HIDE</a></li>
		</ul>
	</form>

	<br>
	<div class="btn-group-vertical">
		<a class="btn btn-default"  href="/wizard/start">START OVER</a>
		<a class="btn btn-default"  href="/user/register">LOGIN/REGISTER TO SAVE</a>
	</div>
</div>