<script type="text/javascript">
function skip() {
  document.cookie='skip=true; path=/;';

};
</script>

<a href="/wizard/school">KNOW MAJOR, NOT SCHOOL</a><br>
<a href="/wizard/major" onclick="skip()">KNOW SCHOOL, NOT MAJOR</a><br>
<a href="/wizard/major">NEED HELP ON BOTH</a>