<div class="wizard-div">
<img src="/assets/progress 1.png" height="41" width="850" usemap="#progress-map">
<map name="progress-map">
	<area onfocus="blur()" shape="rect" coords="10, 20, 150, 40" href="/wizard/major">
	<area onfocus="blur()" shape="rect" coords="160, 20, 315, 40" href="/wizard/school">
	<area onfocus="blur()" shape="rect" coords="325, 20, 475, 40" href="/wizard/career">
	<area onfocus="blur()" shape="rect" coords="485, 20, 645, 40" href="/wizard/spending">
	<area onfocus="blur()" shape="rect" coords="655, 20, 850, 40" href="/wizard/city">	
</map>
<br>
<div  class="center">
<br><p>Not implemented.</p>
<div class="btn-group-vertical">
<a class="btn btn-default" href=<%= @next_link %> >NEXT <%= @next_name %></a>
<a class="btn btn-default"  href="/user/register">LOGIN/REGISTER TO SAVE</a>
</div>
</div>
</div>