<div class="wizard-div">
<img src="/assets/progress 4.png" height="77" width="715" usemap="#progress-map">
<map name="progress-map">
	<area onfocus="blur()" shape="rect" coords="0, 20, 29, 60" href="/wizard/major">
	<area onfocus="blur()" shape="rect" coords="31, 20, 59, 60" href="/wizard/school">
	<area onfocus="blur()" shape="rect" coords="61, 20, 90, 60" href="/wizard/career">
	<area onfocus="blur()" shape="rect" coords="681, 20, 715, 60" href="/wizard/city">
</map>
<br>
<p>show spending breakdown and related queries</p><br>
<a href="/wizard/city">NEXT (city)</a>
</div>