<div class="wizard-div">
<img src="/assets/progress 4.png" height="40" width="850" usemap="#progress-map">
<map name="progress-map">
	<area onfocus="blur()" shape="rect" coords="10, 20, 150, 40" href="/wizard/major">
	<area onfocus="blur()" shape="rect" coords="160, 20, 315, 40" href="/wizard/school">
	<area onfocus="blur()" shape="rect" coords="325, 20, 475, 40" href="/wizard/career">
	<area onfocus="blur()" shape="rect" coords="485, 20, 645, 40" href="/wizard/spending">
	<area onfocus="blur()" shape="rect" coords="655, 20, 850, 40" href="/wizard/city">	
</map>
	<br>

</div>
<div  class="center" style="width:910px">
	<ul class="viz_objects">
		<li><canvas class="process_viz" id="main_viz" width="655" height="375"></canvas></li>
		<li>
			<ul id="spend_name_list" style="list-style-type:none; padding-left:10px; padding-right:10px; text-align:right">
				<!-- <p>ANNUAL INCOME</p>
				<p>FOOD</p>
				<p>HOUSING</p>
				<p>UTILITIES</p>
				<p>TRANSPORTATION</p>
				<p>HEALTHCARE</p>
				<p>INSURANCE</p>
				<p>PERSONAL DEBT</p>
				<p>SAVINGS</p>
				<p>MISC</p>
				<p>UNALLOCATED</p> -->
			</ul>
		</li>
		<li>
			<ul id="spend_field_list" style="list-style-type:none; padding-left:0px">
				<!-- <li><div style="float:right"><input class="update_spend" id="income_field" oninput="spendingVal('income')" type="text"></div>
				<li><div style="float:right"><input class="update_spend" id="food_field" oninput="spendingVal('food')" type="text"></div>
				<li><div style="float:right"><input class="update_spend" id="housing_field" oninput="spendingVal('housing')" type="text"></div>
				<li><div style="float:right"><input class="update_spend" type="text"></div>
				<li><div style="float:right"><input class="update_spend" type="text"></div>
				<li><div style="float:right"><input class="update_spend" type="text"></div>
				<li><div style="float:right"><input class="update_spend" type="text"></div>
				<li><div style="float:right"><input class="update_spend" type="text"></div>
				<li><div style="float:right"><input class="update_spend" type="text"></div>
				<li><div style="float:right"><input class="update_spend" type="text"></div>
				<li><div style="float:right"><input class="update_spend" id="unalloc_field" type="text" readonly="true"></div> -->
			</ul>
		</li>
	</ul>
	
	<br> <!--errors will go here -->
	<div class="bottom_nav">
		<!-- add in annual income and radio buttons for bins (Default, Student, Custom) -->
		<a class="btn btn-default"  href="/wizard/career">PREVIOUS</a>
		<a class="btn btn-default"  href="/user/register">LOGIN/REGISTER TO SAVE</a>
		<a class="btn btn-default"  href="/wizard/city">NEXT</a>
	</div>
</div>
<br>