<div class="wizard-div">
<img src="/assets/progress 4.png" height="34" width="715" usemap="#progress-map">
<map name="progress-map">
	<area onfocus="blur()" shape="rect" coords="10, 10, 125, 34" href="/wizard/major">
	<area onfocus="blur()" shape="rect" coords="135, 20, 265, 60" href="/wizard/school">
	<area onfocus="blur()" shape="rect" coords="275, 20, 400, 60" href="/wizard/career">
	<area onfocus="blur()" shape="rect" coords="410, 20, 540, 60" href="/wizard/spending">
	<area onfocus="blur()" shape="rect" coords="550, 20, 714, 60" href="/wizard/city">
</map>
<br>
<div  class="center">
<br><p>Not implemented.</p>
<div class="btn-group-vertical">
<a class="btn btn-default"  href="/wizard/city">NEXT (city)</a>
<a class="btn btn-default"  href="/user/register">LOGIN/REGISTER TO SAVE</a>
</div>
</div>
</div>