<div class="wizard-div">
<div  class="center">
<h1>Welcome to cents!</h1>
</div>
<p align="justify">We will start by asking you questions in order to get a better idea of where you may need direction. 
When you begin you will see a progress bar at the top. At any point during this wizard you may skip ahead or go back to different sections.
This wizard is meant to help you understand the basics of the cents financial decision engine so that you can start using this system the way you
would like. There is a search button in the top right that allows you to submit a question at any time, if you would like to skip our
wizard and just see some standard questions, see our <a href="/info/examples">examples</a>.</p><br>

<div  class="center">
<h3>What best describes your current situation?</h3>

<div class="btn-group-vertical">
    <a href="/wizard/education" class="btn btn-default">STARTING OR RETURNING TO COLLEGE</a>
    <a href="/wizard/career" class="btn btn-default">GRADUATING COLLEGE OR CHANGING JOBS</a>
    <a href="/wizard/city" class="btn btn-default">MOVING TO A NEW CITY</a>
    <a href="/wizard/major" class="btn btn-default">JUST LOOKING AROUND</a>
</div>

</div>

</div>