
<script type="text/javascript" src="/assets/modernizr.custom.29473.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61563557-1', 'auto');
    ga('send', 'pageview');

    if (user_id)
    	$.post("/api/v2/users/" + user_id + "/completed?api_key=" + api_key, {"section": "View About"});
</script>


<div style="padding-top:15px;" class="center">
<h2>About cents.</h2>
<h5>Click on the sections below to learn more about us.</h5>

<section class="ac-container">
	<div>
		<input id="ac-1" name="accordion-1" type="checkbox" />
		<label for="ac-1">Our goal.</label>
		<article class="ac-medium">
			<p>The Cents idea is to help prepare potential and current college students face the realities of their educational choices. There are a lot of graduates that have entered the workforce with a large amount of debt and without the prospect of jobs to allow them to pay off that debt. Cents will provide users information, in a very intuitive way, that will allow students to see the impact of their educational choices and what the future statistically holds.</p>
		</article>
	</div>
	<div>
		<input id="ac-2" name="accordion-1" type="checkbox" />
		<label for="ac-2">Where we get our data.</label>
		<article class="ac-small">
			<p>We have strict requirements for our data. To meet these standards we rely heavily on data released publicly
			by reputable organizations. Thus, most data comes from government sources. We also have some crowd sourced data,
			the cents user ratings, which rely upon you, the user.</p>
		</article>
	</div>
	<div>
		<input id="ac-3" name="accordion-1" type="checkbox" />
		<label for="ac-3">How we calculate cents' ratings.</label>
		<article class="ac-small">
			<p>Our cents job rating is a derived statistic based off of current and projected values provided by the Bureau of Labor Statistics. Each value is given a weight and scaled to reflect a rating from 0 to 5. User ratings are crowd sourced, meaning our users are able to give their input. Users can vote only vote once, and all votes are weighted equally.</p>
		</article>
	</div>
	<div>
		<input id="ac-4" name="accordion-1" type="checkbox" />
		<label for="ac-4">About us.</label>
		<article class="ac-about">
			<p>We are four students finishing our bachelors degree in computer science and the University of Utah. We saw a need for
			a tool like this and have been working hard ever since. We love feedback, <a id="color-link" href="mailto:admin@trycents.com">tell us </a> what we are doing good, need to improve, or anything else you can think of. Thanks for visiting!</p>
			<div style="height:120px; width:710px; margin-right:20px; margin-left:20px; margin-bottom:10px; float:left; box-shadow:none;">
				<img src="/assets/junior.jpg" style="height:120px; width:120px; float:left;">
				<div style="height:120px; width:580px; float:left; box-shadow:none; margin-left:10px;">
					<p style="margin-top: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;margin-bottom: 0px;">
					<h3 style="margin:0px;">Junior Matelau</h3>I'm an aspiring software craftsman who takes pride in eloquent problem solving.
                  I enjoy building software and appreciate how much I still have to learn.
                  In addition to my engineering experience, I bring with me years of community building and leadership. For my work, I have been recognized as a Generation Google Scholar, Larry H. and Gail Miller Scholar, and I was invited to become a fellow of the NAPALI leadership institute.
					<a class="about-mail" href="http://www.juniormatelau.com/">Contact Junior</a></p>
				</div>
			</div>
			<div style="height:120px; width:710px; margin-right:20px; margin-left:20px; margin-bottom:10px; float:left; box-shadow:none;">
				<img src="/assets/austin.jpg" style="height:120px; width:120px; float:left;">
				<div style="height:120px; width:580px; float:left; box-shadow:none; margin-left:10px;">
					<p style="margin-top: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;margin-bottom: 0px;">
					<h3 style="margin:0px;">Austin Hammer</h3>Austin is currently interning with a provider of software solutions for the insurance industry. He writes code in Ruby and in Java for them, and is attempting to master Python. He enjoys many of the creative aspects of programming, and is comfortable starting from scratch or working in existing code bases. He also is known to enjoy a rousing game of 3x3 basketball.
					<a class="about-mail" href="mailto:hammer.aj@gmail.com?subject=Cents">Contact Austin</a></p>
				</div>
			</div>
			<div style="height:120px; width:710px; margin-right:20px; margin-left:20px; margin-bottom:10px; float:left; box-shadow:none;">
				<img src="/assets/Michael.jpg" style="height:120px; width:120px; float:left;">
				<div style="height:120px; width:580px; float:left; box-shadow:none; margin-left:10px;">
					<p style="margin-top: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;margin-bottom: 0px;">
					<h3 style="margin:0px;">Michael Smith</h3>text text text text text text text text text text text text text text text text 
					text text text text text text text text text text text text text text text text text text text text text text text text 
					text text text text text text text text text text text text text text text text text text text text text text text text 
					text text text text text text text text text text text text text text text text text text text text text text text text
					<a class="about-mail" href="mailto:me@michaelchristiansmith.com">Contact Michael</a></p>
				</div>
			</div>
			<div style="height:120px; width:710px; margin-right:20px; margin-left:20px; margin-bottom:10px; float:left; box-shadow:none;">
				<img src="/assets/wesley.jpg" style="height:120px; width:120px; float:left;">
				<div style="height:120px; width:580px; float:left; box-shadow:none; margin-left:10px;">
					<p style="margin-top: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;margin-bottom: 0px;">
					<h3 style="margin:0px;">Wesley Gormley</h3>When it comes to software engineering my passion is bringing more data and information to more people. I enjoy taking complex ideas and breaking them into simple problems, and then creating
					a way to visualize this information. I constantly seek for opportunities to improve myself through learning new technologies, strengthening good development techniques and better understanding how computer science can interact with new fields.
					<a class="about-mail" href="mailto:wesleypalmer83@gmail.com?subject=Cents">Contact Wesley</a></p>
				</div>
			</div>

		</article>
	</div>

	
</section>
</div>

<script>
if (sessionStorage.getItem("colors"))
    {
        var c = jQuery.parseJSON(unescape(sessionStorage.getItem("colors")));
        $('#color-link').css({"color":c["p_hex"]});
        $('.about-mail').css({"color":c["p_hex"]});
    }
    if (user_id)
    	$.post("/api/v2/users/" + user_id + "/completed", {"section": "View About"});
</script>
