
<script type="text/javascript" src="/assets/modernizr.custom.29473.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61563557-1', 'auto');
    ga('send', 'pageview');

</script>


<div style="padding-top:15px;" class="center">
<h2>About cents.</h2>
<h5>Click on the sections below to learn more about us.</h5>

<section class="ac-container">
	<div>
		<input id="ac-1" name="accordion-1" type="checkbox" />
		<label for="ac-1">Our goal.</label>
		<article class="ac-medium">
			<p>The Cents idea is to help prepare potential and current college students face the realities of their educational choices. There are a lot of graduates that have entered the workforce with a large amount of debt and without the prospect of jobs to allow them to pay off that debt. Cents will provide users information, in a very intuitive way, that will allow students to see the impact of their educational choices and what the future statistically holds.</p>
		</article>
	</div>
	<div>
		<input id="ac-2" name="accordion-1" type="checkbox" />
		<label for="ac-2">Where we get our data.</label>
		<article class="ac-small">
			<p>We have strict requirements for our data. To meet these standards we rely heavily on data released publicly
			by reputable organizations. Thus, most data comes from government sources. We also have some crowd sourced data,
			the cents user ratings, which rely upon you, the user.</p>
		</article>
	</div>
	<div>
		<input id="ac-3" name="accordion-1" type="checkbox" />
		<label for="ac-3">How we calculate cents' ratings.</label>
		<article class="ac-small">
			<p>Our cents job rating is a derived statistic based off of current and projected values provided by the Bureau of Labor Statistics. Each value is given a weight and scaled to reflect a rating from 0 to 5. User ratings are crowd sourced, meaning our users are able to give their input. Users can vote only vote once, and all votes are weighted equally.</p>
		</article>
	</div>
	<div>
		<input id="ac-4" name="accordion-1" type="checkbox" />
		<label for="ac-4">About us.</label>
		<article class="ac-small">
			<p>We are four students finishing our bachelors degree in computer science and the University of Utah. We saw a need for
			a tool like this and have been working hard ever since. We love feedback, <a href="mailto:admin@trycents.com">tell us </a> what we are doing good, need to improve, or anything else you can think of. Thanks for visiting!</p>
		</article>
	</div>
	
</section>
</div>