<div style="width : 700px; margin : 60px auto 0 auto; text-align: center;">
	<div id="erModal" class="alert alert-danger">
    	<p id="error">Our service is currently not available. Please try again later.</p>
	</div>
</div>