<div style="width : 1090px; margin : 60px auto 0 auto; text-align: center;">
	<div id="erModal" style="display:none" class="alert alert-dismissable alert-error">
    	<p id="error">Our service is currently not available. Please try again later.</p>
	</div>
</div>