<div class="center">
	<br><br>
	<p>Errors will go here.</p>
	<h4>Click on the examples below to enter your own search criteria.</h4>
</div>


	<div class="examples_center">
	<ul class="examples_center_items">
		<li id="city_container"><div height='300px' width='540px' onclick="showSearch('city', 'right')" style='display:inline; box-shadow: -5px 5px 3px #CDCDCD; float:left; background-image: url(/assets/city_compare.jpeg); height: 300px; width: 540px; margin-right: 10px'></div></li>
		<li id="career_container"><div height='300px' width='540px' onclick="showSearch('career', 'left')" style='display:inline; box-shadow: -5px 5px 3px #CDCDCD; float:left; background-image: url(/assets/career_compare.jpeg); height: 300px; width: 540px; margin-left: 10px'></div></li>
	</ul>
	<ul class="examples_center_items">
		<li><p style='display:inline;'>Considering moving to a different location or do you want to know how your current city compares? Get cost of living information, tax information, average weather breakdown by month, and labor statistics for a specific city or compare two. </p></li>
	</ul>

	</div>

<script src="/assets/examples.js"></script>