<div class="center">
	<br><br>
	<p>Errors will go here.</p>
	<h4>Click on the examples below to enter your own search criteria.</h4>
</div>


	<div class="examples_center">
	<ul class="examples_center_items">
		<li id="city_container"><div height='300px' width='540px' onclick="showSearch('city', 'right')" style='display:inline; float:left; background-image: url(/assets/city_compare.jpeg); height: 300px; width: 540px; margin-right: 10px'></div></li>
		<li id="career_container"><div height='300px' width='540px' onclick="showSearch('career', 'left')" style='display:inline; float:left; background-image: url(/assets/career_compare.jpeg); height: 300px; width: 540px; margin-left: 10px'></div></li>
	</ul>

<script src="/assets/examples.js"></script>