<div class="center">
	<br><br>
	<p></p>
	<h4>CHECK OUT THE CATEGORIES BELOW AND CLICK TO ADD YOUR CUSTOM SEARCH ITEMS.</h4>
</div>


	<div class="examples_center">
	<ul class="examples_center_items">
		<li id="city_container"><div height='300px' width='540px' onclick="showSearch('city', 'right')" style='display:inline; box-shadow: -5px 5px 3px #CDCDCD; float:left; background-image: url(/assets/city_compare.jpeg); height: 300px; width: 540px; margin-right: 10px'></div></li>
		<li id="major_container"><div height='300px' width='540px' onclick="showSearch('major', 'left')" style='display:inline; box-shadow: -5px 5px 3px #CDCDCD; float:left; background-image: url(/assets/major_compare.jpeg); height: 300px; width: 540px; margin-left: 10px'></div></li>
	</ul>

	<ul class="examples_center_desc">
		<li style='width:540px; margin-right:10px;'><h4>CITY STATS AND COMPARISON</h4><p>Considering moving to a different location or do you want to know how your current city compares? Get cost of living information, tax information, average weather breakdown by month, and labor statistics for a specific city or compare two.</p></li>
		<li style='width:540px; margin-left:10px;'><h4>MAJOR STATS AND COMPARISON</h4><p>Curious to see what the top jobs are for what you are studying? or want to compare potential majors based on potential salaries, recommendations and satisfaction?</p></li>
	</ul></div>

	<div class="examples_center">
	<ul class="examples_center_items">
		<li id="school_container"><div height='300px' width='540px' onclick="showSearch('school', 'right')" style='display:inline; box-shadow: -5px 5px 3px #CDCDCD; float:left; background-image: url(/assets/school_compare.jpeg); height: 300px; width: 540px; margin-right: 10px'></div></li>
		<li id="spend_container"><div height='300px' width='540px' onclick="showSearch('spend', 'left')" style='display:inline; box-shadow: -5px 5px 3px #CDCDCD; float:left; background-image: url(/assets/spend_compare.jpeg); height: 300px; width: 540px; margin-left: 10px'></div></li>
	</ul>

	<ul class="examples_center_desc">
		<li style='width:540px; margin-right:10px;'><h4>COLLEGE STATS AND COMPARISON</h4><p>Researching potential schools, or do you want to see how your school stacks up? Compare tuition rates, undergrad enrollment rates and the school\'s graduation rate.</p></li>
		<li style='width:540px; margin-left:10px;'><h4>MONTHLY SPENDING BREAKDOWN</h4><p>Want to compare your spending to the spending trends of others or do you want to setup a monthly budget? Create a spending breakdown that matches your needs here.</p></li>
	</ul></div>



	<div class="examples_center">
	<ul class="examples_center_items">
		<li id="career_container"><div height='300px' width='540px' onclick="showSearch('career', 'right')" style='display:inline; box-shadow: -5px 5px 3px #CDCDCD; float:left; background-image: url(/assets/career_compare.jpeg); height: 300px; width: 540px; margin-right: 10px'></div></li>
		<li id="suggest_container"><div height='300px' width='540px' onclick="showSuggest()" style='display:inline; box-shadow: -5px 5px 3px #CDCDCD; float:left; background-image: url(/assets/suggest.jpeg); height: 300px; width: 540px; margin-left: 10px'></div></li>
	</ul>

	<ul class="examples_center_desc">
		<li style='width:540px; margin-right:10px;'><h4>CAREER STATS AND COMPARISON</h4><p>Want to see the job outlook for a career you are considering? Check in to see what your prospective careers have to offer in terms of salary, demand, and unemployment.</p></li>
		<li style='width:540px; margin-left:10px;'><h4>MORE!</h4><p>Want to see some other search categories? Let us know.</p></li>
	</ul></div>
	
	<br><br>
	</div>

<script src="/assets/examples.js"></script>