<link rel="stylesheet" type="text/css" href="/assets/style.css" />
<script type="text/javascript" src="/assets/modernizr.custom.29473.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61563557-1', 'auto');
    ga('send', 'pageview');

</script>


<div style="padding-top:15px;" class="center">
<h2>Welcome to Cents Help.</h2>
<h5>Click on the questions below to learn more about Cents and its capabilities.</h5>

<section class="ac-container">
	<div>
		<input id="ac-1" name="accordion-1" type="checkbox" />
		<label for="ac-1">What type of searches can I make?</label>
		<article class="ac-medium">
			<p>Cents is focused around finding and comparing statistics for majors, universities, careers
			and cities. Our database contains over 2200 cities, 330 majors, 900 universities and 650 careers.
			We also provide a tool to analyze how an annual income will be divided each month between certain 
			standard categories. Each search category can be seen with a brief explantion on the <a id="color-link" href="/info/examples">
			examples</a> page.</p>
		</article>
	</div>
	<div>
		<input id="ac-2" name="accordion-1" type="checkbox" />
		<label for="ac-2">How should I structure my searches?</label>
		<article class="ac-large">
			<p>Cents is built around getting results quickly. To best achieve this please the limit the complexity of your
			searches. If you want to compare two school, enter something along these lines: "Stanford vs. MIT". All other 
			searches are structured the same way (City 1 vs City 2). One term may also be entered for each search if a
			comparison is not needed. All searches can be made easily from the <a id="color-link" href="/info/examples">examples</a> page, 
			where auto complete can assist with search terms.</p>
		</article>
	</div>
	<div>
		<input id="ac-3" name="accordion-1" type="checkbox" />
		<label for="ac-3">My search is redirecting me to examples. Why?</label>
		<article class="ac-small">
			<p>Cents will automatically redirect to the <a href="/info/examples">examples</a> page if the search is not
			recognized successfully. There all categories displayed with auto fill capabilites to allow a more guided
			search for the user. If you still feel like we are missing something big, feel free to 
			<a href="mailto:admin@trycents.com">contact us</a>.</p>
			</p>
		</article>
	</div>
	<div>
		<input id="ac-4" name="accordion-1" type="checkbox" />
		<label for="ac-4">Where is my career?</label>
		<article class="ac-small">
			<p>We pull our data from the Bureau of Labor Statistics to satisfy our data reliability requirements. Not all careers
			are available, but many times, a broader career can be found. Our <a id="color-link" href="/info/examples">examples</a> page has
			auto complete functionality that we hope will help guide you towards successful results.</p>
		</article>
	</div>
	<div>
		<input id="ac-5" name="accordion-1" type="checkbox" />
		<label for="ac-5">Where is my city?</label>
		<article class="ac-small">
			<p>Right now our database contains over #### cities, so there are some smaller cities that are not available. We suggest searching for a larger nearby city that can give some insight into the smaller surrounding cities. To check out all cities
			that we have right now, go to the <a id="color-link" href="/info/examples">examples</a> page.</p>
		</article>
	</div>
	<div>
		<input id="ac-6" name="accordion-1" type="checkbox" />
		<label for="ac-6">Where is my university?</label>
		<article class="ac-small">
			<p>Right now our database contains over #### universities, so there are some smaller universities that are not available. We are always seeking out reliable data for the smaller universities, so come back and check soon. To check out all universities that we have right now, go to the <a id="color-link" href="/info/examples">examples</a> page.</p>
		</article>
	</div>
	<div>
		<input id="ac-7" name="accordion-1" type="checkbox" />
		<label for="ac-7">Where is my major?</label>
		<article class="ac-small">
			<p>Each school seems to name a major differently, so we have gone through and decided upon a standard to make
			data storage and retrieval much faster. We realize that our name may differ from many schools and so we have implemented
			an auto complete feature on the <a id="color-link" href="/info/examples">examples</a> page to help.</p>
		</article>
	</div>
		<div>
		<input id="ac-8" name="accordion-1" type="checkbox" />
		<label for="ac-8">Where can I learn about your API?</label>
		<article class="ac-small">
			<% if current_user %>
				<p>You can learn how to access our API through our <a href="/api">documentation</a>.</p>
			<% else %>
				<p>We have a public API that's open to registered users. Visit this page again after <a href="/register">registering</a> or <a href="/user/login">logging in</a>.</p>
			<% end %>
		</article>
	</div>
</section>
</div>

<script>
if (sessionStorage.getItem("colors"))
    {
        var c = jQuery.parseJSON(unescape(sessionStorage.getItem("colors")));
        $('#color-link').css({"color":c["p_hex"]});
    }
</script>
